$primary-color: #2d9cdb;
$hover-color: ($primary-color, 8%);
$text-color: #ffffff;

$padding: 0.75rem 1.25rem;
$border-radius: 10px;
$transition: 0.25s ease-in-out;

.dashboardButton {

    background-color: transparent;
}



